---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Summary from "../components/Summary.astro";
import ProjectList from "../components/Projects/ProjectList.astro";
import SkillList from "../components/Skills/SkillList.astro";
import WorkList from "../components/Work/WorkList.astro";
import EducationList from "../components/Education/EducationList.astro";
---

<Layout title="Resume | Jonathan Cheng">
  <div
    class="mb-5 grid h-full w-full grid-cols-11 items-center justify-center letter:mb-0"
  >
    <div class="order-0 col-span-11">
      <Section title="Summary">
        <Summary />
      </Section>
    </div>
    <div
      class="order-2 col-span-11 h-full print:order-1 print:col-span-6 medium:order-1 medium:col-span-6"
    >
      <Section title="Experience">
        <WorkList />
      </Section>
    </div>
    <div
      class="order-1 col-span-11 h-full print:order-2 print:col-span-5 medium:order-2 medium:col-span-5"
    >
      <Section title="Skills">
        <SkillList />
      </Section>
    </div>
    <div class="order-3 col-span-11 h-full print:col-span-6 medium:col-span-6">
      <Section title="Projects">
        <ProjectList />
      </Section>
    </div>
    <div class="order-4 col-span-11 h-full print:col-span-5 medium:col-span-5">
      <Section title="Education">
        <EducationList />
      </Section>
    </div>
  </div>
</Layout>
