---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Summary from '../components/Summary.astro';
import ProjectList from '../components/Projects/ProjectList.astro'
import SkillList from '../components/Skills/SkillList.astro'
import WorkList from '../components/Work/WorkList.astro'
---

<Layout title="Welcome to Astro.">
	<div class="grid grid-cols-11 justify-center w-full h-full items-center mb-5 letter:mb-0">
		<div class="col-span-11 order-0">
			<Section title="Summary">
				<Summary />
			</Section>
		</div>
		<div class="col-span-11 medium:col-span-6 order-2 medium:order-1 h-full print:col-span-6 print:order-1">
			<Section title="Projects">
				<ProjectList />
			</Section>
		</div>
		<div class="col-span-11 medium:col-span-5 order-1 medium:order-2 h-full print:col-span-5 print:order-2">
			<Section title="Skills">
				<SkillList />
			</Section>
		</div>
		<div class="col-span-11 medium:col-span-6 order-3 h-full print:col-span-6">
			<Section title="Work Experience">
				<WorkList />
			</Section>
		</div>
		<div class="col-span-11 medium:col-span-5 order-4 h-full print:col-span-5">
			<Section title="Education" />
		</div>
	</div>
</Layout>
