---
import { getName, getLabel } from "../../utils/basics";
const name = getName();
const label = getLabel();
---

<div
  class="flex w-full flex-col items-center justify-between print:flex-row print:items-end print:justify-between small:items-start small:justify-around print:small:items-end print:small:justify-between medium:flex-row medium:items-end medium:justify-between"
>
  <h1 class="order-first">
    {name.toUpperCase()}
  </h1>
  <h2 class="order-2 medium:order-3">
    {label.toUpperCase()}
  </h2>
</div>
