---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="mt-4 w-full bg-emerald-100">
  <h3 class="flex items-center px-2 text-lg font-semibold text-gray-900">
    {title.toUpperCase()}
  </h3>
</div>
